2nd Semester (1-2)/Lecture/SWE 4201 (OOP)/Books/Head_First_Java_A_Brain-Friendly_Guide.pdf
2nd Semester (1-2)/Lecture/CSE 4205 (DLD)/Books/M. Morris Mano, Michael D. Ciletti - Digital Design (4th Edition)-Prentice Hall (2006).pdf
